body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
}

.open-button {
  position: relative;
  top: 10px;
  left: 10px;
  padding: 0.5rem 2rem;
  background-color: #4a4ae9;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 3px grey;
}

.dark-background-closed {
  display: none;
}

.dark-background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  width: 1000px;
  height: 700px;
  top: 0;
}

.align-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.survey-box-closed {
  display: none;
}

.survey-box {
  background-color: white;
  padding: 1rem;
  padding-bottom: 3rem;
  border: white;
  border-radius: 5px;
}

.no {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: #eb5d5d;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 2px 2px grey;
}

h2 {
  font-weight: 600;
  padding: 15px;
  margin: 2rem 0;
}
