body {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.align-bottom {
  align-items: end;
}

.column-full {
  flex-basis: 100%;
}

.column-fifth {
  flex-basis: 20%;
}

.column-align {
  display: flex;
  flex-direction: column;
}

.align-center {
  text-align: center;
}

.padding-lr-10 {
  padding: 0 10px;
}

.image-box {
  width: 100%;
}

.image {
  width: 90%;
  height: auto;
}

#lv-bag {
  width: 100%;
}

p {
  font-weight: 600;
}

p span,
del {
  font-weight: 400;
  color: lightgrey;
}

p del {
  background-color: transparent;
}

.current-price {
  display: inline;
  background-color: rgb(255 242 231);
  border-radius: 3px;
}
