body {
  max-width: 900px;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-third {
  flex-basis: calc (100%/3);
  width: 100%;
}

.align-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-direction {
  flex-direction: column;
}
