body {
  font-family: Avenir, sans-serif;
  color: rgb(110 110 110);
}

h1,
h2 {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
}

p,
address {
  line-height: 1.7rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .ul {
  padding: 0;
  margin: 0;
  list-style: none;
} */

header {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(231 233 236);
}

footer {
  background-color: rgb(81 82 80);
}

address {
  font-style: normal;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-three-quarter {
  flex-basis: 75%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

.column-full,
.column-half,
.column-quarter,
.column-three-quarter {
  padding: 0 15px;
}

.justify-flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  justify-content: center;
  padding: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > li:not(:first-child) {
  margin-left: 2.5rem;
}

.nav-links > li:not(:last-child) {
  padding-right: 1.75rem;
}

.nav-links > li.action {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  color: white;
  background-color: rgb(41 68 100);
}

.logo {
  height: 1.75rem;
}

/* li {
  display: inline;
  padding: 1.5rem;
} */

.overview {
  padding: 4.25rem;
}

.grandpa {
  position: relative;
}

.grandpa-image {
  position: absolute;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  width: 90%;
  filter: brightness(85%) contrast(75%) saturate(95%);
}

.grandpa-content {
  padding: 4.75rem;
  position: relative;
  color: white;
}

.grandpa-content p {
  margin-bottom: 2rem;
}

.product-image {
  width: 400px;
}
