.container {
  max-width: 1130px;
  margin: 0 auto;
}

body {
  font-family: Avenir, sans-serif;
  color: rgb(110 110 110);
}

h1,
h2 {
  font-family: "Tiempos Headline", sans-serif;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-three-quarter {
  flex-basis: 75%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

.align-center {
  justify-content: center;
  padding: 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.logo {
  height: 1.75rem;
}

li {
  display: inline;
  padding: 1.5rem;
}

.overview {
  padding: 4.25rem;
}

.grandpa {
  position: relative;
}

.grandpa-image {
  position: absolute;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  width: 90%;
  filter: brightness(85%) contrast(75%) saturate(95%);
}

.grandpa-content {
  padding: 4.75rem;
  position: relative;
  color: white;
}

.grandpa-content p {
  margin-bottom: 2rem;
}

.product-image {
  width: 400px;
}
